body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}


/* top-line-header */

header {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.header-flex {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

nav{
  display: block;
}

.header-nav {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}

a {
  text-decoration: none;
  color: currentColor;
  box-sizing: border-box;
}

.stuodi {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-transform: uppercase;
  margin-right: 76px;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.header-list {
display: flex;
background: #fff;
text-align:  center;
line-height: normal;
gap: 40px;
}

.email-telefon {
    background: #fff;
    color: #434455 ;
  }
  /* .menu-nav-index */
  .menu-nav-index{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
    .menu-nav-index:hover{
    color: #404bbf;
  }
  .menu-nav-index:focus{
    color: #404bbf;
  }
 /* .menu-nav-index */
 
.contacts {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
}
.social-links :hover {
  color: #404bbf;
}
.social-links :focus {
  color: #404bbf;
}

/* <!-- Section-1 --> */

.box-hero-image {
background: #2e2f42;
}

.hero-image {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height:  1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  }
.botton {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

}

.botton:hover {
  background-color: #404BBF;
  cursor: pointer;

}
.botton:focus {
  background-color: #404bbf;
  }

/* <!-- Section-2 --> */



.advantages {
background-color: #F4F4FD;
}

.feature-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* <!-- Sektion-3 --> */
.section-sss {
  background-color: #F4F4FD;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.image {
  background-color: #FFFFFF;
}

.headteam {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.position {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/* <!-- Sektion-4 --> */
.our-portfolio {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
}

.cart-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.cart-content {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* <!-- Footer --> */

.footer-sect {
background: #2e2f42;
padding-top: 100px;
padding-bottom: 100px;
}

.container {
width: 1158px;
margin: 0 auto;
padding-right: 15px;
padding-left: 15px;
box-sizing: border-box;
}

.footer-logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.studio-footer {
  color: #f4f4fd;
}